@import url('https://cursedprograms.github.io/cursedentertainment/styles/main-style.css');

body {
    overflow: hidden;
}

canvas {
    border: 1px solid var(--color-primary-light);
    display: block;
    margin: 20px auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="color"] {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
}

label {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

input[type="range"] {
    width: 100px;
    margin-left: 5px;
    background-color: var(--color-primary);
}

#brushSize {
    width: 15%; 
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-light-grey);
    border-radius: 5px; 
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#brushSize:hover {
    opacity: 1;
}

#brushSize::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px; 
    background: var(--color-tertiary);
    border-radius: 50%;
    cursor: pointer; 
}

#brushSize::-moz-range-thumb {
    width: 20px;
    height: 20px; 
    background: var(--color-tertiary);
    border-radius: 50%;
    cursor: pointer; 
}
